.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 31rem;
  height: 100%;
  z-index: 10;
  background: #fff;
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.5, 0, 0, 0.75);
}

.navigation.is--active {
  transform: translateX(0);
}

.navigation ul {
  width: 80%;
  margin: 40px auto;
}

.navigation ul li {
  width: 100%;
  padding: 1rem 1rem;
  margin: 0.5rem auto;
  cursor: pointer;
  border-radius: 1.2rem;
  transition: background-color 0.33s ease;
}

.nav_link {
  display: inline-block;
  color: #393c41;
  font-weight: 500;
  font-size: 1.4rem;
  text-transform: capitalize;
}

.navigation ul li:hover {
  background: #0000000d;
}

.close_btn_container {
  text-align: right;
  margin: 30px 3rem;
}

.navigation_close_btn {
  width: 2rem;
  cursor: pointer;
}

.blur_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3rem);
  transition: display 0.4s ease;
}

.blur_overlay.is--active {
  display: block;
}

/* 요소를 가로 정렬 */
.select_nation_button {
  display: flex;
  justify-content: flex-start;
}

/* 아이콘 위치 조정 */
.select_nation_icon {
  position: relative;
  top: 5px;
}

#select_nation_card {
  box-sizing: content-box;
  width: 76px;
  height: 36px;
  padding: 5px;
}

.select_nation_link {
  font-size: smaller;
}

/* hover 굵은 밑줄 추가 */
.select_nation_link:hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

.language_selected {
  padding-top: 3px;
}